.swiper-button-prev,
.swiper-button-next {
  color: #f1d782; /* Golden tone */
  z-index: 30;
  transform: scale(1.5);
  transition: transform 0.3s ease;
}

.swiper-pagination-bullet {
  background-color: #f1d782; /* medium */
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background-color: #e5e2d6; /* light */
  opacity: 1;
}


.swiper-button-prev:hover,
.swiper-button-next:hover {
  transform: scale(1.7);
}

@media (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    transform: scale(1.2);
  }
}

