.swiper-button-next,
.swiper-button-prev {
  color: #f1d782; /* gold */
}

.swiper-pagination-bullet {
  background-color: #c5a468; /* bronze */
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background-color: #966639; /* brown */
  opacity: 1;
}
